// COLORS

$color-violet: #4D2D52;
$color-silver: #C1A5A9;
$color-white: #FCF7F8;
$color-teal: #508991;
$color-dark: #2E1F27;

// FONTS

$font-regular: 'Questrial', sans-serif;

// FONT SIZES

$regular-font-size: 1.5rem;
$huge-font-size: 5rem;
$small-font-size: 1.2rem;
$big-font-size: 2rem;