<div class="about-wrapper flex-row">
    <div class="content">
        <div class="text" id="text" (appear)="toggleAnimations()">
            <h2>{{ 'ABOUT.CONTENT.header_1' | translate }}</h2>
            <p>{{ 'ABOUT.CONTENT.p_1' | translate }}</p>
            <p>{{ 'ABOUT.CONTENT.p_1_1' | translate }}</p>
            <p>{{ 'ABOUT.CONTENT.p_1_2' | translate }}</p>
        
            <h2>{{ 'ABOUT.CONTENT.header_2' | translate }}</h2>
            <p>{{ 'ABOUT.CONTENT.p_2' | translate }}</p>
        </div>
    </div>

    <div class="header-wrapper flex-column">
        <h1>{{ 'ABOUT.HEADER' | translate }}</h1>
        <app-floating-icons [iconPaths]="aboutIcons"></app-floating-icons>
    </div>
</div>
<div class="links-wrapper flex-row" id="links" (appear)="toggleAnimations()">
    <div class="links">
        <a href="https://www.github.com/annitannenbaum" target=”_blank”>
            <img src="/assets/img/ui/github-icon.svg" alt="github-icon">
        </a>
        <a href="https://www.linkedin.com/in/anna-hoege" target=”_blank”>
            <img src="/assets/img/ui/linkedin-icon.svg" alt="linkedin-icon">
        </a>
        <a href="https://www.twitter.com/RegenbogenAnni" target=”_blank”>
            <img src="/assets/img/ui/twitter-icon.svg" alt="twitter-icon">
        </a>
        <a href="https://www.instagram.com/annitannenbaum" target=”_blank”>
            <img src="/assets/img/ui/instagram-icon.svg" alt="instagram-icon">
        </a>
    </div>
</div>