<app-page-layout>
    <div title>
        <h1>{{ 'ABOUT.HEADER' | translate }}</h1>
    </div>

    <div content class="content-scroll flex-row">
        <img src="/assets/img/ui/arrow.svg" class="arrow pulse" id="arrow">
        <div class="text">
            <h2>{{ 'ABOUT.CONTENT.header_1' | translate }}</h2>
            <p>{{ 'ABOUT.CONTENT.p_1' | translate }}</p>
            <p>{{ 'ABOUT.CONTENT.p_1_1' | translate }}</p>
            <p>{{ 'ABOUT.CONTENT.p_1_2' | translate }}</p>
    
            <h2>{{ 'ABOUT.CONTENT.header_2' | translate }}</h2>
            <p>{{ 'ABOUT.CONTENT.p_2' | translate }}</p>
        </div>
    </div>
</app-page-layout>
