<div class="burger-container">
    <div id="burger-menu" (click)="toggleMenu()">
        <span class="line"></span>
        <span class="line"></span>
        <span class="line"></span>
    </div>
        <ul id="menu-list">
            <li>{{ 'LANDING.MENU.about' | translate }}</li>
            <li>{{ 'LANDING.MENU.tech' | translate }}</li>
            <li>{{ 'LANDING.MENU.projects' | translate }}</li>
            <li>{{ 'LANDING.MENU.dog' | translate }}</li>
            <li>{{ 'LANDING.MENU.photography' | translate }}</li>
            <li>{{ 'LANDING.MENU.ramen' | translate }}</li>
        </ul>
</div>

<div class="overlay" id="overlay"></div>


