@import 'mixins';
@import 'variables';

.menu {
    width: 100%;
  
    @include tablet {
      display: none;
    }
  
    @include tablet-port {
      display: none;
    }
  
    ul {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      margin-right: 2.5rem;
  
      li {
        text-align: center;
        position: relative;
        padding: 0 1rem;
        cursor: pointer;
        width: fit-content;
  
        &:before {
          content: '';
          position: absolute;
          background-color: $color-green;
          height: 1.5rem;
          width: 0;
          bottom: -0.5rem;
          z-index: -1;
          transition: 0.4s ease-in-out;
        }
      
        &:hover:before {
          width: 3rem;
          height: 1.2rem;
        }
      }
    }
  
  }
  
  .burger-container {
      display: none;
      flex-direction: column;
      float: right;
      width: 7rem;
      margin-right: 2.5rem;
  
      @include tablet {
        display: flex;
        margin-right: 1rem;
        margin-top: 1rem;
      }
  
      @include tablet-port {
        display: flex;
        margin-right: 1rem;
        margin-top: 1rem;
      }
  
      #burger-menu {
          width: 50px;
          cursor: pointer;
          align-self: flex-end;
          z-index: $z-index-top;
          margin-bottom: 0.5rem;
  
        }
        
        .line {
          display: block;
          margin: 0.4rem;
          height: 2px;
          background-color: black;
          transition: 0.5s ease-in-out;
        }
        
        #burger-menu.is-active .line:nth-child(1) {
          transform: translateY(18px) rotate(-45deg);
        }
        
        #burger-menu.is-active .line:nth-child(2) {
          opacity: 0;
        }
        
        #burger-menu.is-active .line:nth-child(3) {
          transform: translateY(2px) rotate(45deg);
        }
  
        ul {
          width: inherit;
          visibility: hidden;
  
          li {
            text-align: right;
            padding: 0.5rem 0;
            position: relative;
            margin-right: 0.5rem;
            z-index: $z-index-top;
            cursor: pointer;
          }
        }
  
        ul.is-visible {
          visibility: visible;
        }
  }
  
  .overlay {
    position: fixed;
    background-color: white;
    visibility: hidden;
    height: 100%;
    width: 100%;
    overflow: hidden;
    top: 0;
    left: 0;
    z-index: $z-index-high;
    opacity: 0;
    transition: visibility 0.5s, opacity 0.5s ease-in-out;
  }
  
  .overlay.is-active {
    visibility: visible;
    opacity: 0.9;
  }
  