<div class="menu">
    <ul>
        <li>{{ 'MENU.about' | translate }}</li>
        <li>{{ 'MENU.tech' | translate }}</li>
        <li>{{ 'MENU.projects' | translate }}</li>
        <li>{{ 'MENU.photography' | translate }}</li>
    </ul>
</div>

<div class="burger-container">
    <div id="burger-menu" (click)="toggleMenu()">
        <span class="line"></span>
        <span class="line"></span>
        <span class="line"></span>
    </div>
        <ul id="menu-list">
            <li>{{ 'MENU.about' | translate }}</li>
            <li>{{ 'MENU.tech' | translate }}</li>
            <li>{{ 'MENU.projects' | translate }}</li>
            <li>{{ 'MENU.photography' | translate }}</li>
        </ul>
</div>

<div class="overlay" id="overlay"></div>


