@import 'variables';
@import 'mixins';

.page-title {
    display: block;
    font-size: $big-font-size;
    width: fit-content;
}

.page-subtitle {
    margin-left: 1rem;
    position: fixed;
    bottom: 3rem;

    @include tablet-port {
        display: none;
    }

    @include phone  {
        display: none;
    }

    p {
        margin: 0 0 0 2rem;
        font-weight: medium;
        font-size: $small-font-size;
        letter-spacing: 0.25rem;
    }

    .stripes {
        height: 20px;
        width: 70px;
        position: relative;
        top: 2rem;
        z-index: -1;
    
        &.violet {
            background-color: $color-violet;
        }
    
        &.yellow {
            background-color: $color-yellow;
            width: 50px;
        }
    
        &.green {
            background-color: $color-green;
        }
    }
    
}

.page-wrapper {
    margin: 1rem;
    width: 40%;

    @include tablet {
        width: 90%;
    }
}

.page-content {
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 20%;
    background-color: $color-pink;
    height: 60%;
    width: 65%;
    padding: 5rem;

    @include tablet {
        position: relative;
        width: 100%;
        height: 450px;
    }

    @include phone {
        position: relative;
        width: 100%;
        height: 450px;
        padding: 2.5rem;
    }
}