.pulse {
    animation-name: pulse;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
}

@keyframes pulse {
    0% {
        transform: scale3d(1, 1, 1);
    }
    50% {
        transform: scale3d(1.15, 1.15, 1.15);
    }
    100% {
        transform: scale3d(1, 1, 1);
    }
}


.fadeOutDown {
    animation-name: fadeOutDown;
    animation-duration: 2s;
    animation-fill-mode: both;
}

@keyframes fadeOutDown {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: translate3d(0, 200%, 0);
    }
}

.fadeInLeft {
    animation-name: fadeInLeft;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(0.390, 0.575, 0.565, 1.000);
}

@keyframes fadeInLeft {
    0% {
        transform: translateX(-50px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.fadeInRight {
    animation-name: fadeInRight;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(0.390, 0.575, 0.565, 1.000);
}

@keyframes fadeInRight {
    0% {
        transform: translateX(50px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.floating {  
    animation-name: floating;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes floating {
    from { transform: translate(0,  0px); }
    65%  { transform: translate(0, 15px); }
    to   { transform: translate(0, -0px); }    
}