
$phone: 420px;
$tablet: 1024px;
$desktop: 1500px;
$four-k: 3000px;

// responsive media queries

@mixin phone {
    @media (max-width: #{$phone - 1px}) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: $phone) and (max-width: #{$tablet - 1px}) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: $tablet) and (max-width: #{$desktop - 1px}) {
        @content;
    }
}

@mixin four-k {
    @media (min-width: $desktop) {
        @content;
    }
}