
$phone: 470px;
$tablet-port: 600px;
$tablet: 1024px;
$desktop: 1440px;
$big-desktop: 1950px;
$four-k: 3000px;

// responsive media queries

@mixin phone {
    @media (max-width: #{$phone - 1px}) {
        @content;
    }
}

@mixin tablet-port {
    @media (max-width: $tablet-port) {
        @content
    }
}

@mixin tablet {
    @media (min-width: $tablet-port) and (max-width: #{$tablet - 1px}) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: $tablet) and (max-width: #{$desktop - 1px}) {
        @content;
    }
}

@mixin big-desktop {
    @media (min-width: $desktop) and (max-width: #{$big-desktop - 1px}) {
        @content;
    }
}

@mixin four-k {
    @media (min-width: $big-desktop) {
        @content;
    }
}