// COLORS

$color-violet: #7D5C7A;
$color-pink: #DBA5D5;
$color-white: #FCFFF7;
$color-grey: #AFB9C5;

// FONTS

$font-heading: 'Fredericka the Great', sans-serif;
$font-paragraph: 'Gafata';

// FONT SIZES

$regular-font-size: 1.5rem;
$huge-font-size: 5rem;
$small-font-size: 1.2rem;
$big-font-size: 2rem;

// z-indices

$z-index-low: 1;
$z-index-medium: 5;
$z-index-high: 10;
$z-index-top: 15;