// COLORS

$color-violet: #7D83FF;
$color-pink: #FCB5B5;
$color-yellow: #F7CB15;
$color-green: #B4EDD2;

// FONTS

$font-heading: 'Bungee Shade', sans-serif;
$font-paragraph: 'Cabin';

// FONT SIZES

$regular-font-size: 1.5rem;
$huge-font-size: 5rem;
$small-font-size: 1.2rem;
$big-font-size: 2rem;

// z-indices

$z-index-low: 1;
$z-index-medium: 5;
$z-index-high: 10;
$z-index-top: 15;