@import 'mixins';

.icon-container  {
    width: 100%;

    @include tablet {
        display: none;
    }

    @include tablet-port {
        display: none;
    }

    .top-wrapper {
        width: 75%;
        display: flex;
        justify-content: center;
        padding: 2rem 1rem;
    }

    .bottom-wrapper {
        width: 75%;
        display: flex;
        justify-content: space-evenly;
    }
}