.header {
    width: 30%;
    margin: 0 auto;
    height: auto;
    position: fixed;
    top: 30%;
    left: 55%;

    @include four-k {
        top: 40%;
    }

    @include desktop {
        left: 70%;
    }

    @include tablet {
        left: 40%;
        width: 50%;
    }

    @include phone {
        left: 38%;
        width: 50%;
    }

    h1 {
        font-size: 7rem;
        margin: 0;

        @include four-k {
            margin-bottom: 3rem;
        }

        @include desktop {
            font-size: 5rem;
            margin-bottom: 4rem;
        }

        @include tablet {
            font-size: 5rem;
        }

        @include phone {
            font-size: 4rem;
            margin-bottom: 4rem;
        }
    }

    li {
        font-size: 2rem;

        @include four-k {
            font-size: 3rem;
        }

        @include desktop {
            font-size: 1.5rem;
        }
    }
}