.locale-container {
    float: right;
    position: fixed;
    right: 5rem;
    bottom: 3rem;
    letter-spacing: 0.25rem;

    .de, .en {
        cursor: pointer;

        &:before {
            content: '';
            position: absolute;
            background-color: black;
            height: 0.1rem;
            width: inherit;
            bottom: -0.5rem;
        }

        &:active::before {
            width: inherit;
        }
    }
}