<app-page-layout>

    <div title>
        <h1>{{ 'LANDING.HEADER.hello' | translate | uppercase }}</h1>
    </div>
    <div content>
        <h2>Motivation</h2>
        <p>Plaid small batch hashtag pabst tbh gentrify. Schlitz flannel brooklyn cray, adaptogen typewriter fashion axe stumptown cloud bread umami readymade. Pitchfork vape meditation cronut, taxidermy viral DIY. Blog taxidermy everyday carry organic, roof party meh man braid beard copper mug.

            Dummy text? More like dummy thicc text, amirite?</p>
    </div>
</app-page-layout>