@import 'mixins';

.locale-container {
    float: right;
    margin-right: 2.5rem;
    letter-spacing: 0.25rem;

    .de, .en {
        cursor: pointer;
        touch-action: manipulation;
    }

    @include tablet-port {
        right: calc(50% - 2rem);
        margin: 2.5rem;
    }

    @include tablet-port {
        margin-top: -1rem;
    }
}