.layer-1, .layer-2 {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: -1;
}

.layer-1 {
    @include phone {
        content: url('/assets/img/layout/small-background-layer-1.svg');
    }

    @include four-k {
        content: url('/assets/img/layout/big-background-layer-1.svg');
    }
}

.layer-2 {
    @include phone {
        content: url('/assets/img/layout/small-background-layer-2.svg');
    }

    @include four-k {
        content: url('/assets/img/layout/big-background-layer-2.svg');
    }
}